/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/ui/projectBlock/projectBlock.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.projectBlock_projectWrap__yia4e {
  width: 100%;
  padding: 0 50px;
}

.projectBlock_project__CqTBh {
  border-radius: 16px;
  margin-bottom: 100px;
  overflow: hidden;
  box-shadow: #c8cad6 4px 4px 4px, #fdfdff -4px -4px 4px;
  width: 100%;
  min-height: 706px;
  background-color: #e5e7f2;
}
.projectBlock_project__CqTBh a {
  color: #fff;
}
.projectBlock_project__CqTBh .projectBlock_img__eRqpv {
  position: relative;
  height: 455px;
  width: 100%;
}
.projectBlock_project__CqTBh .projectBlock_img__eRqpv img {
  height: 455px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
  position: relative;
}
.projectBlock_project__CqTBh .projectBlock_img__eRqpv::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(229, 231, 242, 0.3);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr {
  padding: 40px 30px 30px;
  background-color: #e5e7f2;
  height: auto;
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_title__8Eb5P {
  font-size: 35px;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_descr__N8JBP {
  color: #000000;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 40px;
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R {
  display: flex;
  align-items: center;
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_detail__rEmI0 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  white-space: nowrap;
  padding: 1.1rem 2.4rem 1.1rem 2.1rem;
  border-radius: 50px;
  color: #fff;
  background-color: #000;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_detail__rEmI0 .projectBlock_detailText__QQWcA {
  display: inline-block;
  will-change: transform;
  transform: translateX(-5px);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_detail__rEmI0::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 0.2rem);
  right: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  will-change: transform;
  transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_detail__rEmI0:hover::after {
  transform: translate3d(4.4rem, 0, 0) scale(0.2);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_detail__rEmI0:hover .projectBlock_detailText__QQWcA {
  transform: translateX(0);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_web__4IAP3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #000000;
  padding: 1.1rem 2.4rem 1.1rem 2.1rem;
  white-space: nowrap;
  border-radius: 50px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_web__4IAP3::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 0.2rem);
  right: 1.5rem;
  border-radius: 50%;
  background-color: #000;
  transform: translate3d(4.4rem, 0, 0) scale(0.2);
  will-change: transform;
  transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_web__4IAP3:hover .projectBlock_webText__eOxDz {
  transform: translateX(-5px);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_web__4IAP3 .projectBlock_webText__eOxDz {
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  will-change: transform;
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_web__4IAP3 .projectBlock_webText__eOxDz::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 0.2rem);
  right: 1.5rem;
  border-radius: 50%;
  background-color: #000;
  transform: translate3d(6.4rem, 0, 0) scale(0.2);
  will-change: transform;
  transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_web__4IAP3 .projectBlock_webText__eOxDz:hover::after {
  transform: translate3d(2.7rem, 0, 0) scale(1);
}

@media (max-width: 1450px) {
  .projectBlock_project__CqTBh .projectBlock_content__s03xr {
    position: relative;
    min-height: 350px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_title__8Eb5P {
    margin-bottom: 30px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R {
    position: absolute;
    content: "";
    bottom: 50px;
  }
}
@media (max-width: 1280px) {
  .projectBlock_projectWrap__yia4e {
    padding: 0 15px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr {
    position: relative;
    min-height: 350px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_title__8Eb5P {
    margin-bottom: 15px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R {
    position: absolute;
    content: "";
    bottom: 50px;
  }
}
@media (max-width: 992px) {
  .projectBlock_projectWrap__yia4e {
    width: 100%;
  }
  .projectBlock_project__CqTBh {
    min-height: 500px;
  }
  .projectBlock_project__CqTBh .projectBlock_img__eRqpv {
    height: 340px;
  }
  .projectBlock_project__CqTBh .projectBlock_img__eRqpv img {
    height: 100%;
    -o-object-position: top left;
       object-position: top left;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr {
    min-height: 280px;
    padding: 25px 40px;
  }
}
@media (max-width: 578px) {
  .projectBlock_projectWrap__yia4e {
    padding: 0 5px;
  }
  .projectBlock_project__CqTBh .projectBlock_img__eRqpv {
    height: 260px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr {
    padding: 25px 10px;
    min-height: 240px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_title__8Eb5P {
    font-size: 22px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_descr__N8JBP {
    font-size: 18px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R {
    bottom: 20px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_web__4IAP3 {
    padding: 1rem;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_web__4IAP3 .projectBlock_webText__eOxDz {
    font-size: 16px;
  }
  .projectBlock_project__CqTBh .projectBlock_content__s03xr .projectBlock_btns__VnT_R .projectBlock_detail__rEmI0 {
    padding: 1rem 2rem;
    font-size: 16px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/screens/projects/projects.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.projects_wrapper__ptfrF {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(450px, auto));
}
.projects_wrapper__ptfrF a {
  text-decoration: none;
}

.projects_title__zrbTa {
  font-size: 50px;
  line-height: 1.3em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  color: #000;
}

.projects_descr__eX0wu {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 90px;
}

.projects_wrapperSlider__eVI6P {
  display: none;
}

@media (max-width: 992px) {
  .projects_wrapper__ptfrF {
    display: none;
  }
  .projects_wrapperSlider__eVI6P {
    display: block;
    padding: 40px 0;
  }
  .projects_title__zrbTa {
    font-size: 35px;
  }
}
